@import (reference) "colors.less";

* {
	margin: 0;
	padding: 0;
	box-sizing:	border-box;
}

html, body{
	height: 100%;
	margin: 0;
}
body{
	font:13px Ubuntu, Helvetica, Arial;
}


.app-container{
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	max-width: 640px;
	min-width: 300px;
	height: 100%;
	position: relative;

	& > *{
		flex: 0 1 30px;
	}
}

@import url("messages.less");
@import url("notifications.less");
@import url("nickname-input.less");