.notification-bar{
	background: @blue-2;
	flex: 0 1 60px;
	flex-shrink: 0;
	overflow-y: hidden;
	position: relative;
	width: 100%;

	.default-text{
		color: @darker-grey;
		position: absolute;
		text-align: center;
		top: 20px;
		width: 100%;
	}

	div{
		background: @blue-4;
		color: @white;
		font-size: 18px;
		height: 40px;
		line-height: 2;
		margin: 10px 20px;
		padding: 0 20px;
		position: relative;
		top: 50px;		
	}

	.notification{
		top: 0;
		transition: top 0.5s;
	}
}