* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background-color: #eeeeee;
}
#messages form {
  background: #000000;
  padding: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#messages form input {
  border: 0;
  padding: 20px;
  width: 80%;
}
#messages form button {
  background: #82e0ff;
  border: none;
  padding: 20px;
  width: 19%;
}
.input-nickname {
  position: absolute;
  height: 200px;
  background: #aaa;
  width: 200px;
}
.hidden {
  display: none;
}
.app-container {
  margin: 0 auto;
  max-width: 640px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
