* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font: 13px Helvetica, Arial;
}
.app-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0 auto;
  width: 640px;
  height: 100%;
  position: relative;
}
.app-container > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30px;
      -ms-flex: 0 1 30px;
          flex: 0 1 30px;
}
.message-container {
  height: 100%;
  overflow-y: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
#messages {
  list-style-type: none;
  margin: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background-color: #eeeeee;
}
.message-form {
  border: 1px solid #0043bd;
  border-bottom: 0;
  margin: 0;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50px;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  position: relative;
}
.message-form input {
  border: 0;
  margin: 0;
  display: block;
  height: 100%;
  position: absolute;
  outline: 0;
  left: 0;
  float: left;
  width: 80%;
}
.message-form input:focus {
  outline: 0;
}
.message-form button {
  background: #0043bd;
  border: 0;
  color: #ffffff;
  position: absolute;
  right: 0;
  display: block;
  float: left;
  height: 100%;
  width: 20%;
}
.message-form button:hover {
  background: #aaaaaa;
  cursor: pointer;
}
.notification-bar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60px;
      -ms-flex: 0 1 60px;
          flex: 0 1 60px;
  width: 100%;
  background: #12223d;
}
.input-nickname {
  position: absolute;
  height: 200px;
  background: #aaaaaa;
  width: 200px;
}
.hidden {
  display: none;
}
